:root {
  --primary-color: #ed1c26;
}

h1 {
  margin: 0;
  color: #fff;
}

h2 {
  margin: 0;
  color: #fff;
}

p,
li {
  line-height: 1.75rem;
}

article p:first-child,
article ul:first-child {
  margin-top: 0px;
}

article p:last-child,
article ul:last-child {
  margin-bottom: 0px;
}

.card {
  background-color: #292524;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 20px;
}

.card-header {
  background-color: var(--primary-color);
  padding: 12px;
  border-radius: 12px 12px 0 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  border-bottom: 1px solid #333;
  line-height: 1.25rem !important;
  padding: 10px 0;
}

.list li:first-child {
  padding-top: 0px;
}

.list li:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}
